
on_off_switch/relays.pretty/HFD230051ZS.kicad_mod
on_off_switch/relays.pretty/HFD230051ZS.kicad_mod
on_off_switch/on_off_switch-backups/on_off_switch-2024-12-17_122134.zip
on_off_switch/fp-lib-table
on_off_switch/fp-info-cache
on_off_switch/on_off_switch-backups/on_off_switch-2024-12-17_123400.zip
on_off_switch/on_off_switch-backups/on_off_switch-2024-12-17_130701.zip
on_off_switch/on_off_switch-backups/on_off_switch-2024-12-17_132209.zip
on_off_switch/on_off_switch-backups/on_off_switch-2024-12-17_133445.zip
gerbers.zip
on_off_switch/~on_off_switch.kicad_sch.lck
